// Remember to attribute the photographer
// Sylwia Bartyzel @ http://forfuture.pl/

body 
	background-image: url("../images/bg.jpg")
	background-size: cover
	margin: 0
	padding: 0

body, html 
	height: 100%
	overflow: hidden

.container 
	height: 100%
	width: 100%
	overflow: hidden
.particle 
	position: absolute

.cloud1 
	top: 50px
	left: 0
	-webkit-animation: driftOne 60s linear infinite
	-moz-animation: driftOne 60s linear infinite
	animation: driftOne 60s linear infinite

.cloud2
	top: 180px
	right: 0
	-webkit-animation: driftTwo 150s linear infinite
	-moz-animation: driftTwo 150s linear infinite
	animation: driftTwo 150s linear infinite

.cloud3
	top: 0
	right: 0
	-webkit-animation: driftThree 300s linear infinite
	-moz-animation: driftThree 300s linear infinite
	animation: driftThree 300s linear infinite

.cloud4
	top: 20px
	left: 0
	-webkit-animation: driftFour 60s linear infinite
	-moz-animation: driftFour 60s linear infinite
	animation: driftFour 60s linear infinite

.rays
	position: absolute
	top: 0
	-webkit-animation: shine 15s linear infinite
	-moz-animation: shine 15s linear infinite
	animation: shine 15s linear infinite

.sun 
	top: 0 
	left: 0
	max-height: 100%
	max-width: 100%
	-webkit-animation: shine 25s linear infinite
	-moz-animation: shine 25s linear infinite
	animation: shine 25s linear infinite
	
.title 
	margin: 0 auto 
	text-align: center
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
	position: relative
	z-index: 99
	top: 44%
	transform: translateY(-44%)

	h1, h2, h3
		color: #222
		line-height: 1.4em
		margin: 0

	h1 
		font-weight: 300 
	h2 
		font-weight: 100
	h3 
		font-weight: 100
		margin-top: 5px
		font-size: 0.9em

	a 
		color: #c85234
		font-weight: 300
		text-decoration: none 
		padding-bottom: 2px
		&:hover
			color: darken(#c85234, 15%)

@-webkit-keyframes driftOne
	0%
		left: 0
		opacity: 0
	1%
		opacity: 1
	99%
		opacity: 1
	100%
		left: 100%
		opacity: 0

@-webkit-keyframes driftTwo
	0%
		right: 0
		opacity: 0
	5%
		opacity: 1
	15%
		opacity 0.4
	50%
		opacity: 0.8
	75%
		opacity: 0.3
	95%
		opacity: 1
	100%
		right: 100%
		opacity: 0

@-webkit-keyframes driftThree
	0%
		right: 0
		opacity: 0
	5%
		opacity: 1
	95%
		opacity: 1
	100%
		right: 100%
		opacity: 0

@-webkit-keyframes driftFour
	0%
		left: 0
		opacity: 0
	5%
		opacity: 1
	95%
		opacity: 1
	100%
		left: 100%
		opacity: 0

@-webkit-keyframes shine
	0%
		opacity: 0
	25%
		opacity: 0.7
	75%
		opacity: 0.7
	100%
		opacity: 0


@-webkit-keyframes rays
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)
	50%
		-webkit-transform: rotate(10deg)
		transform: rotate(10deg)
	100%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)