/* line 4, ../sass/style.sass */
body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.sass */
body, html {
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass/style.sass */
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 18, ../sass/style.sass */
.particle {
  position: absolute;
}

/* line 21, ../sass/style.sass */
.cloud1 {
  top: 50px;
  left: 0;
  -webkit-animation: driftOne 60s linear infinite;
  -moz-animation: driftOne 60s linear infinite;
  animation: driftOne 60s linear infinite;
}

/* line 28, ../sass/style.sass */
.cloud2 {
  top: 180px;
  right: 0;
  -webkit-animation: driftTwo 150s linear infinite;
  -moz-animation: driftTwo 150s linear infinite;
  animation: driftTwo 150s linear infinite;
}

/* line 35, ../sass/style.sass */
.cloud3 {
  top: 0;
  right: 0;
  -webkit-animation: driftThree 300s linear infinite;
  -moz-animation: driftThree 300s linear infinite;
  animation: driftThree 300s linear infinite;
}

/* line 42, ../sass/style.sass */
.cloud4 {
  top: 20px;
  left: 0;
  -webkit-animation: driftFour 60s linear infinite;
  -moz-animation: driftFour 60s linear infinite;
  animation: driftFour 60s linear infinite;
}

/* line 49, ../sass/style.sass */
.rays {
  position: absolute;
  top: 0;
  -webkit-animation: shine 15s linear infinite;
  -moz-animation: shine 15s linear infinite;
  animation: shine 15s linear infinite;
}

/* line 56, ../sass/style.sass */
.sun {
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  -webkit-animation: shine 25s linear infinite;
  -moz-animation: shine 25s linear infinite;
  animation: shine 25s linear infinite;
}

/* line 65, ../sass/style.sass */
.title {
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  z-index: 99;
  top: 44%;
  transform: translateY(-44%);
}
/* line 74, ../sass/style.sass */
.title h1, .title h2, .title h3 {
  color: #222222;
  line-height: 1.4em;
  margin: 0;
}
/* line 79, ../sass/style.sass */
.title h1 {
  font-weight: 300;
}
/* line 81, ../sass/style.sass */
.title h2 {
  font-weight: 100;
}
/* line 83, ../sass/style.sass */
.title h3 {
  font-weight: 100;
  margin-top: 5px;
  font-size: 0.9em;
}
/* line 88, ../sass/style.sass */
.title a {
  color: #c85234;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 2px;
}
/* line 93, ../sass/style.sass */
.title a:hover {
  color: #8b3924;
}

@-webkit-keyframes driftOne {
  /* line 97, ../sass/style.sass */
  0% {
    left: 0;
    opacity: 0;
  }

  /* line 100, ../sass/style.sass */
  1% {
    opacity: 1;
  }

  /* line 102, ../sass/style.sass */
  99% {
    opacity: 1;
  }

  /* line 104, ../sass/style.sass */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes driftTwo {
  /* line 109, ../sass/style.sass */
  0% {
    right: 0;
    opacity: 0;
  }

  /* line 112, ../sass/style.sass */
  5% {
    opacity: 1;
  }

  /* line 116, ../sass/style.sass */
  50% {
    opacity: 0.8;
  }

  /* line 118, ../sass/style.sass */
  75% {
    opacity: 0.3;
  }

  /* line 120, ../sass/style.sass */
  95% {
    opacity: 1;
  }

  /* line 122, ../sass/style.sass */
  100% {
    right: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes driftThree {
  /* line 127, ../sass/style.sass */
  0% {
    right: 0;
    opacity: 0;
  }

  /* line 130, ../sass/style.sass */
  5% {
    opacity: 1;
  }

  /* line 132, ../sass/style.sass */
  95% {
    opacity: 1;
  }

  /* line 134, ../sass/style.sass */
  100% {
    right: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes driftFour {
  /* line 139, ../sass/style.sass */
  0% {
    left: 0;
    opacity: 0;
  }

  /* line 142, ../sass/style.sass */
  5% {
    opacity: 1;
  }

  /* line 144, ../sass/style.sass */
  95% {
    opacity: 1;
  }

  /* line 146, ../sass/style.sass */
  100% {
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes shine {
  /* line 151, ../sass/style.sass */
  0% {
    opacity: 0;
  }

  /* line 153, ../sass/style.sass */
  25% {
    opacity: 0.7;
  }

  /* line 155, ../sass/style.sass */
  75% {
    opacity: 0.7;
  }

  /* line 157, ../sass/style.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rays {
  /* line 162, ../sass/style.sass */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 165, ../sass/style.sass */
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  /* line 168, ../sass/style.sass */
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
